<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul style="margin-left: 10%">
        <li>用户头像：<a href=""><img src="{{user.photo}}"/></a> </li><br/>
        <li>昵称：<input type="text" ng-model="user.username"> {{user.username}}</li><br/>
        <li>特点：<input type="text" ng-model="user.userType"> {{user.userType}}</li><br/>
        <li>粉丝数：<input type="text" ng-model="user.fansNum"> {{user.fansNum}}</li><br/>
        <li>住址：<input type="text" ng-model="user.address"> {{user.address}}</li><br/>
    </ul>
</body>
</html>